* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

:root{
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}

body {
    min-height: 100vh;
}

h3{
    padding: 20px;
    font-weight: 700;
    text-align: center;
}

p, a{
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-gray);
}

#card{
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    background-color: var(--White);
    width: 300px;
}

#qrimage{
    display: flex;
    justify-content: center;

    & img{
        width: 275px;
        height: 275px;
        border-radius: 20px;
    }
}
